<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="main">
        <h1>Expenses Tracker</h1>
        <h3>Enter your login credentials</h3>

                <!-- Display messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
             </div>
        {% endif %}

        <!-- Login form -->
        <form method="POST" action="{% url 'handlelogin' %}">
            {% csrf_token %}
            
            <label for="loginuname">Username:</label>
            <input type="text" 
                   id="loginuname" 
                   name="loginuname" 
                   placeholder="Enter your Username" required>

            <label for="loginpassword1">Password:</label>
            <input type="password"
                   id="loginpassword1" 
                   name="loginpassword1"
                   placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit">Login</button>
            </div>
        </form>

        <p>
            <a href="{% url 'reset_password_step1' %}"  style="text-decoration: none;">Forgot password?</a>
        </p>
        <p>Not registered? 
            <a href="{% url 'register_step1' %}" style="text-decoration: none;">Create an account</a>
        </p>             
    </div>
</body>
</html>
