<!-- register_step2.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Step 2: Personal Information</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main">
        <h1>Expenses Tracker</h1>
        <h3>Step 2: Personal Information</h3>
        <form method="POST" action="{% url 'register_step2' %}">
            {% csrf_token %}
            
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" value="{{ fname }}" required>
        
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" value="{{ lname }}" required>
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ email }}" required>
        
            <button type="submit" name="back">Back</button>
            <button type="submit" name="cancel">Cancel</button>
            <button type="submit">Next</button>
        </form>
        
    </div>
</body>
</html>
