<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Step 3</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="main">
        <h1>Password Reset Successful</h1>
        <p>Your password has been reset successfully.</p>
        <a href="{% url 'home' %}">Continue to Home</a>
        <button type="submit" action="{% url 'home' %}" >Next</button>
    </div>
</body>
</html>
